<table class="universities table">
  <thead>
    <tr>
      <th><%= filterrific_sorting_link @filterrific, :name %></th>
      <th>Name of contact</th>
      <th class="center-column"><%= filterrific_sorting_link @filterrific, :price_per_researcher %></th>
      <th class="center-column">Number of researchers</th>
      <th class="center-column">Next invoice total</th>
      <th class="right-column">Next billing date</th>
      <th class="right-column"><%= filterrific_sorting_link @filterrific, :added_to_study_me %></th>
    </tr>
  </thead>

  <tbody>
    <% universities.each do |university| %>
      <tr>
        <td><%= university.name %></td>
        <td><%= university.contact_name %></td>
        <td class="center-column"><%= humanized_money_with_symbol university.price_per_researcher %></td>
        <td class="center-column"><%= university.researchers.count %></td>
        <td class="center-column"><%= humanized_money_with_symbol university.invoice_total %></td>
        <td class="right-column"><%= human_date university.next_billing_date %></td>
        <td class="right-column"><%= human_datetime university.created_at %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="6"><%= page_entries_info universities %></td>
      <td colspan="2"><%= will_paginate @universities %></td>
    </tr>
  </tfoot>
</table>
